{{- /* Add mobile menu CSS and JS to the head with proper MIME types */ -}}
<link rel="stylesheet" href="{{ "css/color-scheme.css" | relURL }}" type="text/css">
<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}" type="text/css">
<link rel="stylesheet" href="{{ "css/spacing-fix.css" | relURL }}" type="text/css">
<link rel="stylesheet" href="{{ "css/responsive.css" | relURL }}" type="text/css">
<link rel="stylesheet" href="{{ "css/homepage.css" | relURL }}" type="text/css">
<link rel="stylesheet" href="{{ "css/tools.css" | relURL }}" type="text/css">
<link rel="stylesheet" href="{{ "css/single-post.css" | relURL }}" type="text/css">

<!-- Preload the mobile menu JavaScript -->
<script defer src="{{ "js/mobile-menu.js" | relURL }}" type="text/javascript"></script>
